include top-bar
section#intro
	.container
		.wrap
			h1 The Swapper cipher
			p.perex Encoder / Decoder

section#section
	.container
		.wrap
			.inputText
				h2.inputHeading Input
				textarea.inputCode
				.customKeyWrap
					h2.customKey Use custom key
					.inputWrap
						input.key
						.legend
							p Swap directions: #[strong U]&nbsp;-&nbsp;up, #[strong D]&nbsp;-&nbsp;down, #[strong L]&nbsp;-&nbsp;left, #[strong R]&nbsp;-&nbsp;right
				p.errormessage.hidden
				.buttons
					.button.encode
						span Encode
					.button.decode
						span Decode


		.outputText.hidden
			h2.outputHeading Output
			.output
				p.outputCode


include footer
include scripts