$tooltip-color: white;
$tooltip-background: black;

$bg: #242628;
$box: #191A1C;
$txt: #F0C5A1;
$code: #93E54E;
$input: #EA8733;
$heading: #D99719;
$error: #FF5045;
$butt_g_bg: #75C85B;
$butt_g_txt: #204D00;
$butt_r_bg: #C8655B;
$butt_r_txt: #4D0D00;